:root{
    --mainColour:#46344e;
    --secondaryColour:#382a35;

    --borderColour:#1d1520;


    --mainText:#fff;
    --secondarytext:#eeeeee;

    --themeDotBorder:#fff;

    --previewBg: rgb(29, 21, 32, 0.8);

    --previewShadow:#2b202f; 

    --buttonColour: #8534a3;
}